<footer class="footer">
  <small>
    The <a href="www.foodexplore.com">Food Explore</a>
    by <a href="http://adisazizan.kissr.com">Adis Nabawi</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Home",   '/' %></li>
      <li><%= link_to "Explore",   'explore' %></li>
      <li><%= link_to "About",   'about' %></li>
      <li><%= link_to "Recipe", '/recipe' %></li>
      <li><%= link_to "Help",   'help' %></li>
    </ul>
  </nav>
</footer>