<footer class="footer">
  <small>
    The <a href="www.foodexplore.com">Food Explore</a>
    by <a href="http://adisazizan.kissr.com">Adis Nabawi</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Home",   '#' %></li>
      <li><%= link_to "Explore",   '#' %></li>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Recipe", '#' %></li>
      <li><%= link_to "Help",   '#' %></li>
    </ul>
  </nav>
</footer>