
<style>
  
  	.a#hover{
  	  color:#fff;
  	}
  	
  	.navbar-default .nav > li>a,
    .navbar-default .nav>li>a:focus {
    font-size: 13px;
    font-weight: 400;
    color: #fff;
}
}

</style>

<header id="navbar" class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    
     <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="/">FOOD EXPLORE</a>
            </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <nav>
      <ul class="nav navbar-nav navbar-right">
        
        <li><%= link_to "Home",   '/' %></li>
                    
        <% if logged_in? %>
          <li><%= link_to "Users", users_path %></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Account <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Profile", current_user %></li>
              <li><%= link_to "Settings", edit_user_path(current_user) %></li>
              <li class="divider"></li>
              <li>
                <%= link_to "Log out", logout_path, method: "delete" %>
              </li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "Log in", login_path %></li>
        <% end %>
        
         <li>
                        <a class="page-scroll" href="/about">About</a>
                    </li>
                    
                    <% if logged_in? %>
                    <li>
                        <a class="page-scroll" href="/explore">Explore</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/recipe">Recipe</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/help">Help</a>
                    </li>
                    <% else %>
                      <li></li>
                      <li></li>
                      <li></li>
                    <% end %>
                    
      </ul>
    </nav>
    </div>
  </div>
</header>